body {
    display: flex;
    background-color: plum;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}


/* .banner {
    background-color: pink;
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    padding: 30px;
} */

